<div class="main" [ngClass]="isDay === 1 ? 'main-light' : 'main-dark'">
  <div class="main-container">
    <input
      class="input-box"
      type="text"
      placeholder="try 'Guntur'"
      (input)="setCity($event)"
      (keyup)="checkWeather()"
    />

    <div class="location-and-date">
      <h1 class="location-and-date__location">
        {{ displayCity }}
        <span class="location-and-date__country">{{
          displayRegionCountry | uppercase
        }}</span>
      </h1>
      <div>{{ lastUpdated | date : "MMM d, y, h:mm a" }}</div>
    </div>
    <div class="current-temperature">
      <div class="current-temperature__icon-container">
        <img
          [src]="weatherIcon"
          class="current-temperature__icon"
          alt="current weather image icon"
        />
      </div>
      <div class="current-temperature__content-container">
        <div class="current-temperature__value">
          {{ tempInCentigrade }}&deg;
        </div>
        <div class="current-temperature__summary">{{ summary }}</div>
        <div>
          <div>
            <span class="stat__desc aqi">AQI</span>&nbsp;
            <span>{{ aqi | number : "1.1-1" }}</span>
          </div>
          <span class="stat__desc aqi">{{ aqiLevel }}</span>
        </div>
      </div>
    </div>
    <div class="current-stats">
      <div class="stat">
        <p class="stat__data">{{ high }}&deg;</p>
        <p class="stat__desc">High</p>
      </div>
      <div class="stat">
        <p class="stat__data">{{ wind }}kph</p>
        <p class="stat__desc">Wind</p>
      </div>
      <div class="stat">
        <p class="stat__data">{{ sunrise | lowercase }}</p>
        <p class="stat__desc">Sunrise</p>
      </div>
      <div class="stat">
        <p class="stat__data">{{ low }}&deg;</p>
        <p class="stat__desc">Low</p>
      </div>
      <div class="stat">
        <p class="stat__data">{{ rain }}</p>
        <p class="stat__desc">Rain</p>
      </div>
      <div class="stat">
        <p class="stat__data">{{ sunset | lowercase }}</p>
        <p class="stat__desc">Sunset</p>
      </div>
    </div>
    <p class="todays-weather">Today's weather</p>
    <div class="weather-by-hour-container">
      <div
        class="each-hour-container"
        *ngFor="let hour of byHourList; let i = index"
      >
        <div class="weather-by-hour">
          <p>{{ hour.time | date : "ha" | lowercase }}</p>
          <img
            [src]="getIcon(hour.is_day, hour.condition.code)"
            class="current-temperature__icon-hour"
            alt="current weather image icon"
          />
          <p>{{ hour.temp_c | number : "1.0-0" }}&deg;</p>
        </div>
      </div>
    </div>
    <div class="next-5-days_container">
      <p class="next-5-days__mobile">Next 5 days</p>
      <div class="days-forecast-container__mobile">
        <div
          class="day-forecast__mobile"
          *ngFor="let item of forecast; let i = index"
        >
          <p>{{ item.date | date : "EEE" }}</p>
          <img
            [src]="getIcon(1, item.day.condition.code)"
            class="current-temperature__icon-forecast__mobile"
            alt="current weather image icon"
          />
          <p>
            {{ item.day.mintemp_c | number : "1.0-0" }}-{{
              item.day.maxtemp_c | number : "1.0-0"
            }}&deg;
          </p>
        </div>
      </div>
      <p class="next-5-days_desktop">Next 5 days</p>
      <div class="days-forecast-container__desktop">
        <div
          class="day-forecast__desktop"
          *ngFor="let item of forecast; let i = index"
        >
          <div>
            {{ item.date | date : "EEE" }}
            <p class="stat__desc">{{ item.date | date : "M/d" }}</p>
          </div>
          <div>
            <img
              [src]="getIcon(1, item.day.condition.code)"
              class="day-forecast-icon__desktop"
              alt="current weather image icon"
            />
          </div>
          <div>
            {{ item.day.mintemp_c | number : "1.0-0" }}&deg;
            <p class="stat__desc">Low</p>
          </div>
          <div>
            {{ item.day.maxtemp_c | number : "1.0-0" }}&deg;
            <p class="stat__desc">High</p>
          </div>
          <div>
            {{ item.day.maxwind_kph | number : "1.0-0" }}mph
            <p class="stat__desc">Wind</p>
          </div>
          <div>
            {{ item.day.totalprecip_in | number : "1.1-1" }}in
            <p class="stat__desc">Rain</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
